/*
 *
 * BUI: BASE
 *
 */

.clear-after
  &:after
    clear: both
    display: block
    content: ''

*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none

.bui-docs-wrapper
  padding: 20px
  background-color: $grey-100
  font-family: "Roboto", sans-serif
  font-weight: 400
  text-rendering: auto
  -webkit-font-smoothing: antialiased