/*
 *
 * BUI: BUTTONS
 *
 */

%button
  @extend %bui-font-options
  float: left
  color: white
  text-align: center
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(0,0,0,.15)
  padding: 11px 20px
  border-radius: 4px
  min-width: 75px
  cursor: pointer
  @include transition ( all .175s cubic-bezier(.23, 1, .32, 1) 0ms )

  &:active
    padding: 13px 20px 9px 20px

%minor-button
  @extend %bui-font-options
  font-size: 13px
  text-shadow: 0 1px 0 rgba(0,0,0,.15)
  padding: 4px 8px
  border-radius: 3px
  color: white
  float: left
  cursor: pointer
  @include transition ( all .175s cubic-bezier(.23, 1, .32, 1) 0ms )

  &:active
    padding: 5px 8px 3px 8px

.bui-primary-action-button
  @extend %button
  background-color: $eventColor
  border: 1px solid $amber-A700
  box-shadow: inset 0 1px 0 $amber-300

  &:hover
    background-color: $amber-A200
    border-color: $eventColor

  &:active
    background-color: $amber-A700
    border-color: $amber-A700
    box-shadow: inset 0 1px 0 $amber-900

.bui-secondary-action-button
  @extend %button
  background-color: $grey-500
  border: 1px solid $grey-600
  box-shadow: inset 0 1px 0 $grey-400

  &:hover
    background-color: $grey-400
    border-color: $grey-500

  &:active
    background-color: $grey-600
    border-color: $grey-600
    box-shadow: inset 0 1px 0 $grey-800

.bui-minor-primary-action-button
  @extend %minor-button
  background-color: $eventColor
  border: 1px solid $amber-A700
  box-shadow: inset 0 1px 0 $amber-300

  &:hover
    background-color: $amber-A200
    border-color: $eventColor

  &:active
    background-color: $amber-A700
    border-color: $amber-A700
    box-shadow: inset 0 1px 0 $amber-900

.bui-minor-secondary-action-button
  @extend %minor-button
  background-color: $grey-500
  border: 1px solid $grey-600
  box-shadow: inset 0 1px 0 $grey-400

  &:hover
    background-color: $grey-400
    border-color: $grey-500

  &:active
    background-color: $grey-600
    border-color: $grey-600
    box-shadow: inset 0 1px 0 $grey-800