/*
 *
 * TABLE FILTER POPUP STYLING
 *
 */

.bui-table-filter-popup

  .bui-table-filter-label
    font-size: 12px
    color: $grey-700
    font-weight: $mediumWeight
    margin: 15px 0 6px 0
    padding: 0 15px

  .bui-input-field
    width: calc(100% - 30px)
    margin-left: 15px
    margin-bottom: 15px