/*
 *
 * BUI: BUTTONS
 *
 */

.bui-action-button
  line-height: initial
  font-size: 13px
  font-weight: 600
  text-transform: uppercase
  padding: 12px 18px
  display: inline-block
  cursor: pointer
  border-radius: 4px
  box-shadow: 0 2px 8px rgba(black, .125)
  @include transition(box-shadow .075s ease, background-color .085s ease)
  &:hover
    box-shadow: 0 2px 10px rgba(black, .25)
  &:active
    box-shadow: 0 0 10px rgba(black, .1)

  &.bui-is-primary
    color: white
    background-color: $cyan-500

  &.bui-is-secondary
    color: $grey-700
    background-color: white

  &.bui-is-flat
    box-shadow: none
    background-color: transparent

    &.bui-is-primary
      color: $cyan-500
      &:hover
        background-color: rgba($cyan-500, .2)
      &:active
        background-color: rgba($cyan-500, .3)

    &.bui-is-secondary
      color: $grey-700
      &:hover
        background-color: rgba($grey-700, .2)
      &:active
        background-color: rgba($grey-700, .3)

  &.bui-is-selected
    color: $grey-800 !important
    background-color: rgba($grey-800, .1)
