.bui-tooltip
  .bui-tooltip-text
    background-color: $grey-900
    text-transform: uppercase
    font-size: 10px
    font-weight: $mediumWeight
    position: absolute
    top: 0px
    left: 0px
    color: white
    padding: 10px